html {
  font-size: 25px;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
#root {
  height: 100%;
}
.spy {
  border: none;
  position: absolute;
  width: 100%;
  height: 90px;
  top: auto;
}
/* .content {
  display: flex;
  width: 100%;
  height: 100%;
} */
/* .content > span {
  flex: 1;
}
.content > div {
  width: 30%;
} */

@media (max-width: 600px) {
  .content {
    display: block;
  }
}
